{% extends 'base.html' %}

{% block content %}
<div class="row text-center">
    <div class="col">
        <h1 class="text-light">
            Welcome to TweetMe!
        </h1>
    </div>
</div>

<div class="row mb-4">
    <div class="col-md-4 mx-auto col-10">
        <form class="form" id="tweet-create-form" method="POST" action="/create-tweet">
            {% csrf_token %}
            <input type="hidden" value="/" name="next">
            <textarea class="form-control" name="content" placeholder="TweetMe Tweet..."></textarea>
            <button class="btn btn-primary" type="submit">Tweet</button>
        </form>
    </div>
</div>

<div class="row" id="tweets">
    <p>
        Loading...
    </p>
</div>

<script>

    const tweetContainerElement = document.getElementById("tweets");
    const tweetCreateFormEl = document.getElementById("tweet-create-form");

    tweetCreateFormEl.addEventListener("submit", handleTweetFormDidSubmit);

    function handleTweetFormDidSubmit(event){
        event.preventDefault();
        const myForm = event.target;
        const myFormData = new FormData(myForm);
        const url = myForm.getAttribute("action");
        const method = myForm.getAttribute("method");
        const httpResponse = new XMLHttpRequest();
        httpResponse.open(method, url);
        httpResponse.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest");
        httpResponse.setRequestHeader("X-Requested-With", "XMLHttpRequest");
        httpResponse.onload = function(){
            if(httpResponse.status === 201){
                const newTweetJson = JSON.parse(httpResponse.response);
                const newTweetElement = returnFormattedTweet(newTweetJson);
                console.log(newTweetElement);
                tweetContainerElement.innerHTML += newTweetElement;
            }
        }
        httpResponse.send(myFormData);
    }

    function handleOnLike(tweet_id, currentCount){
        console.log(tweet_id, currentCount);
    }

    function returnLikeButton(tweet){
        return "<button class='btn btn-primary btn-sm', onClick=handleOnLike(" + tweet.id + "," + tweet.likes + 
        ")>"+tweet.likes+" Like</button>"
    }

    function returnFormattedTweet(tweet){
        let formattedTweet = "<div class='border rounded mb-4 py-3 tweet col-12 col-md-10 mx-auto'><p class='text-secondary' id='tweet-" + tweet.id + "'>"
        + tweet.content
        + "</p><div class='btn-group'>"
        +returnLikeButton(tweet)
        +"</div></div>";
        return formattedTweet;
    }

    function loadTweets(tweetsElement){
        const httpResponse = new XMLHttpRequest();
        const method = 'GET';
        const url = '/tweets';
        const responseType = 'json';
        httpResponse.responseType = responseType;
        httpResponse.open(method, url);
        httpResponse.onload = function(){
            const serverResponse = httpResponse.response;
            const listedItems = serverResponse.response;
            let finalStr = "";
            let i;
            for(i = 0; i < listedItems.length; i++){
                const currentItem = returnFormattedTweet(listedItems[i]);
                finalStr += currentItem;
                }
            tweetContainerElement.innerHTML = finalStr;
        }
        httpResponse.send();
    }
4
    loadTweets(tweetContainerElement);

</script>
{% endblock content %}